.header {
	width: 100%;
	padding: 16px;
	background: #030210;
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
	position: relative;
	z-index: 2;

	.header__container {
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.header__left {
			width: 100%;
			max-width: 844px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-right: 10px;

			@media(max-width: $md1) {
				max-width: 630px;
			}

			@media(max-width: $md2) {
				max-width: unset;
			}

			.logo {
				width: 100%;
				display: block;
				max-width: 170px;
				margin-right: 10px;
				padding-bottom: 6px;

				img {
					width: 100%;
				}

				@media(max-width: $md1) {
					max-width: 120px;
				}

				@media(max-width: $md2) {
					max-width: 100px;
				}
			}

			.header__swiper {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 634px;
				padding-bottom: 6px;
				position: relative;

				@media(max-width: $md2) {
					max-width: 250px;
					margin: 0;
				}

				.swiper-wrapper {
					width: 100%;
					z-index: 2;

					.swiper-slide {
						width: 100%;
						max-width: max-content;
						margin-right: 10px;

						a {
							font-family: 'Inter';
							font-style: normal;
							font-weight: 400;
							font-size: 20px;
							line-height: 24px;
							color: #FFFFFF;
							position: relative;
							display: flex;
							width: max-content;

							&::before {
								content: "";
								width: 0;
								height: 2px;
								background-color: #fff;
								bottom: -4px;
								transition: all 0.5s;
								position: absolute;
								left: 0;
							}

							&:hover {
								&::before {
									width: 100%;
								}
							}

							@media(max-width: $md1) {
								font-size: 16px;
								line-height: 22px;
							}
						}
					}
				}
			}

			.openburgermenubtn {
				display: none;
				width: 30px;

				span {
					width: 100%;
					display: block;
					height: 4px;
					margin-bottom: 6px;
					background: #fff;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		.header__right {
			width: 100%;
			max-width: 180px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media(max-width: $md2) {
				max-width: 30px;
			}
			.header__contacts {
				width: 100%;
				max-width: 142px;

				@media(max-width: $md1) {
					max-width: 100px;
				}

				@media(max-width: $md2) {
					display: none;
				}

				p {
					width: 100%;
					text-align: right;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 22px;
					margin-bottom: 12px;
					color: #FFFFFF;

					@media(max-width: $md1) {
						font-size: 14px;
						line-height: 18px;
					}
				}

				.flex {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;

					@media(max-width: $md1) {
						a {
							svg {
								width: 20px;
								height: 20px;
							}
						}
					}
				}
			}

			.select-lang {
				width: 20px;

				svg {
					width: 30px;
					height: auto;
				}

				button {
					padding: 2px;
					transition: all 0.5s;
					border-radius: 4px;
					height: 27px;

					&:first-child {
						margin-bottom: 6px;
					}

					&.active {
						background-color: #491e6d;
					}
				}
			}
		}
	}
}